version: "3"

services:
  nginx_sandbox:
    restart: unless-stopped
    image: nginx:1.19.5-alpine
    container_name: nginx_sandbox
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./etc/nginx_conf/nginx.conf:/etc/nginx/nginx.conf
      - ./etc/nginx_conf/conf.d/default.conf:/etc/nginx/conf.d/default.conf
      - ./web:/usr/share/nginx/html
